.zoom-map {
    position: absolute;
    top: 15%;
    right: 2%;
    display: grid;
}

.zoom-map button{
    background: #fff6a7;
    border-style: double;
    border-color: #dedede;
    cursor: pointer;
}
.zoom-map button:hover{
    background: #f4e986;
}

.heatmap-canvas{
    transform: scale(1);
}

#myCarousel{
    margin-top: 20px;
    border: 2px solid black;

}
img{
    width: 100%;
 
}
.heatmap{
    cursor: all-scroll;
}

.container{
    margin-left: 13%;
}

.test{
    width: 47px;
    height: 44px;
    border-radius: 46%;
    background: #8080808c;
    cursor: move;
    margin: 4px;

}




